USE [master]
GO
/****** Object:  Database [AirTrip]    Script Date: 5/16/2022 11:38:55 AM ******/
CREATE DATABASE [AirTrip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirTrip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AirTrip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirTrip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AirTrip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirTrip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirTrip]
GO
USE [AirTrip]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 5/16/2022 11:38:56 AM ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[account]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[create_date] [date] NULL,
	[email] [varchar](255) NULL,
	[enabled] [bit] NOT NULL,
	[image] [varchar](255) NULL,
	[introduce] [nvarchar](1000) NULL,
	[is_identity] [bit] NULL,
	[name] [nvarchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[username] [varchar](255) NULL,
 CONSTRAINT [PK__account__46A222CDEE32B6F4] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_role]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [bigint] NULL,
	[role_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_role]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_role](
	[role_id] [bigint] NOT NULL,
	[role_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blog_id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[create_date] [datetime2](7) NULL,
	[image] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[account_id] [bigint] NULL,
 CONSTRAINT [PK__blog__2975AA2809C7B191] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_room]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_room](
	[book_id] [bigint] IDENTITY(1,1) NOT NULL,
	[end_day] [varchar](255) NULL,
	[is_accept] [int] NOT NULL,
	[is_payment] [bit] NULL,
	[is_review] [bit] NULL,
	[people] [int] NOT NULL,
	[start_day] [varchar](255) NULL,
	[total_price] [bigint] NOT NULL,
	[account_id] [bigint] NULL,
	[place_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cancel_book]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cancel_book](
	[cancel_id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime] NULL,
	[reason] [nvarchar](255) NULL,
	[book_id] [bigint] NULL,
 CONSTRAINT [PK__cancel_b__FADF2B8F237DD7C4] PRIMARY KEY CLUSTERED 
(
	[cancel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK__category__D54EE9B494243823] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detail_place]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detail_place](
	[detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[giuong] [int] NOT NULL,
	[phongkhach] [int] NOT NULL,
	[phongngu] [int] NOT NULL,
	[phongvs] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[place_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[litle_category]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[litle_category](
	[litle_category_id] [varchar](255) NOT NULL,
	[detail] [nvarchar](1000) NULL,
	[litle_name] [nvarchar](255) NULL,
	[category_id] [varchar](255) NULL,
 CONSTRAINT [PK__litle_ca__719129C391DE1057] PRIMARY KEY CLUSTERED 
(
	[litle_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [varchar](255) NOT NULL,
	[country_code] [varchar](255) NULL,
	[create_time] [datetime] NULL,
	[description] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[postal_code] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[total_price] [float] NOT NULL,
	[transaction_fee] [float] NOT NULL,
	[book_id] [bigint] NULL,
 CONSTRAINT [PK__payment__ED1FC9EA0B13655F] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persistent_Logins]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persistent_Logins](
	[username] [varchar](64) NOT NULL,
	[series] [varchar](64) NOT NULL,
	[token] [varchar](64) NOT NULL,
	[last_used] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[place]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[place](
	[place_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[detail] [nvarchar](max) NULL,
	[end_day] [date] NULL,
	[is_accept] [bit] NULL,
	[is_empty] [bit] NULL,
	[name] [nvarchar](255) NULL,
	[number_place] [int] NOT NULL,
	[phone] [varchar](255) NULL,
	[price] [bigint] NOT NULL,
	[start_day] [date] NULL,
	[account_id] [bigint] NULL,
	[detail_id] [bigint] NULL,
	[litle_category_id] [varchar](255) NULL,
 CONSTRAINT [PK__place__BF2B684AAD28A730] PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[date_submit] [datetime] NULL,
	[rate] [int] NOT NULL,
	[account_id] [bigint] NULL,
	[place_id] [bigint] NULL,
 CONSTRAINT [PK__review__60883D9064DB6753] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_reaction]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_reaction](
	[reaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_submit] [datetime] NULL,
	[details] [nvarchar](255) NULL,
	[account_id] [bigint] NULL,
	[review_id] [bigint] NULL,
 CONSTRAINT [PK__review_r__36A9D2984F98A860] PRIMARY KEY CLUSTERED 
(
	[reaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 5/16/2022 11:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [address], [create_date], [email], [enabled], [image], [introduce], [is_identity], [name], [password], [phone], [username]) VALUES (1, N'Quảng Bình', CAST(N'2022-01-01' AS Date), N'nhi@gmail.com', 0, N'78539531_1053738554974040_3593282743502372864_n.jpg', N'Tôi yêu cây', 1, N'Nguyễn Mai Lan', N'$2a$12$BUyo.37XXm3PzKi3B6BKIedcXGochNJDgtYOGVOmdSI0Rqy2etaKO', N'09121826121', N'loan')
INSERT [dbo].[account] ([account_id], [address], [create_date], [email], [enabled], [image], [introduce], [is_identity], [name], [password], [phone], [username]) VALUES (2, N'Hue', CAST(N'2022-01-02' AS Date), N'phuongloan3220001@gmail.com', 1, N'a1.jpg', NULL, 0, N'Tran Thi Phuong Loan', N'$2a$12$cSYdzvDdDP5oe3VhqvqBrOAZdzzgHdEQ496ssPgvc3TUusOSPsDN2', N'0831971813', N'loan1')
INSERT [dbo].[account] ([account_id], [address], [create_date], [email], [enabled], [image], [introduce], [is_identity], [name], [password], [phone], [username]) VALUES (3, N'Quảng Phú, Quảng Điền, Thừa Thiên Huế', CAST(N'2022-02-03' AS Date), N'phuongloan322000@gmail.com', 0, N'a7.jpg', NULL, 1, N'Trần Phương Loan', N'$2a$12$qc6fr6EluZ84jD4kTSiFROyDUOyQFvfEl12.9tpoZLgN7.ybu7Mya', N'08301739173', N'loan3')
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[account_role] ON 

INSERT [dbo].[account_role] ([id], [account_id], [role_id]) VALUES (1, 1, 1)
INSERT [dbo].[account_role] ([id], [account_id], [role_id]) VALUES (2, 3, 2)
INSERT [dbo].[account_role] ([id], [account_id], [role_id]) VALUES (3, 4, 2)
SET IDENTITY_INSERT [dbo].[account_role] OFF
GO
INSERT [dbo].[app_role] ([role_id], [role_name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[app_role] ([role_id], [role_name]) VALUES (2, N'ROLE_USER')
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

SET IDENTITY_INSERT [dbo].[blog] OFF
GO
SET IDENTITY_INSERT [dbo].[book_room] ON 

INSERT [dbo].[book_room] ([book_id], [end_day], [is_accept], [is_payment], [is_review], [people], [start_day], [total_price], [account_id], [place_id]) VALUES (8, N'2022-05-27', 1, 1, 1, 1, N'2022-05-16', 1650, 3, 1)
INSERT [dbo].[book_room] ([book_id], [end_day], [is_accept], [is_payment], [is_review], [people], [start_day], [total_price], [account_id], [place_id]) VALUES (9, N'2022-05-27', -1, 0, 0, 1, N'2022-05-16', 1650, 3, 1)
INSERT [dbo].[book_room] ([book_id], [end_day], [is_accept], [is_payment], [is_review], [people], [start_day], [total_price], [account_id], [place_id]) VALUES (10, N'2022-05-27', -1, 0, 0, 1, N'2022-05-16', 1650, 3, 1)
SET IDENTITY_INSERT [dbo].[book_room] OFF
GO
SET IDENTITY_INSERT [dbo].[cancel_book] ON 

INSERT [dbo].[cancel_book] ([cancel_id], [create_time], [reason], [book_id]) VALUES (1, CAST(N'2022-05-03T05:05:12.000' AS DateTime), N'Bận lịch', 9)
INSERT [dbo].[cancel_book] ([cancel_id], [create_time], [reason], [book_id]) VALUES (2, CAST(N'2022-05-05T10:05:48.000' AS DateTime), N'Nhà/phòng bị ảnh hưởng bởi thời tiết', 10)
INSERT [dbo].[cancel_book] ([cancel_id], [create_time], [reason], [book_id]) VALUES (3, CAST(N'2022-05-12T07:05:41.000' AS DateTime), N'Đã hết phòng trong khoảng thời gian này', 26)
SET IDENTITY_INSERT [dbo].[cancel_book] OFF
GO
INSERT [dbo].[category] ([category_id], [name]) VALUES (N'canho', N'Căn hộ')
INSERT [dbo].[category] ([category_id], [name]) VALUES (N'canhophu', N'Căn hộ phụ')
INSERT [dbo].[category] ([category_id], [name]) VALUES (N'chonghiduong', N'Chỗ nghỉ dưỡng')
GO
SET IDENTITY_INSERT [dbo].[detail_place] ON 

INSERT [dbo].[detail_place] ([detail_id], [giuong], [phongkhach], [phongngu], [phongvs]) VALUES (1, 3, 2, 1, 2)
INSERT [dbo].[detail_place] ([detail_id], [giuong], [phongkhach], [phongngu], [phongvs]) VALUES (2, 3, 2, 1, 1)
INSERT [dbo].[detail_place] ([detail_id], [giuong], [phongkhach], [phongngu], [phongvs]) VALUES (3, 3, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[detail_place] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([image_id], [name], [place_id]) VALUES (1, N'i1.jpg', 1)
INSERT [dbo].[image] ([image_id], [name], [place_id]) VALUES (2, N'i2.jpg', 1)
INSERT [dbo].[image] ([image_id], [name], [place_id]) VALUES (3, N'i3.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[image] OFF
GO
INSERT [dbo].[litle_category] ([litle_category_id], [detail], [litle_name], [category_id]) VALUES (N'bietthu', NULL, N'Biệt thự', N'nha')
INSERT [dbo].[litle_category] ([litle_category_id], [detail], [litle_name], [category_id]) VALUES (N'cabin', NULL, N'Cabin', N'nha')
INSERT [dbo].[litle_category] ([litle_category_id], [detail], [litle_name], [category_id]) VALUES (N'canhocaocao', N'Căn hộ cao cấp là căn hộ có chất lượng sử dụng cao nhất đảm bảo các quy chuẩn kỹ thuật, hạ tầng ,chất lượng hoàn thiện, dịch vụ quản lý.', N'Căn hộ cao cấp', N'canho')
GO
INSERT [dbo].[payment] ([payment_id], [country_code], [create_time], [description], [email], [postal_code], [status], [total_price], [transaction_fee], [book_id]) VALUES (N'PAYID-MJ5XQTY4VS06558VY6788539', N'US', CAST(N'2022-05-11T08:48:14.000' AS DateTime), NULL, N'phuongloan322000@gmail.com', N'95131', N'VERIFIED', 8810, 307.95999145507812, 23)
INSERT [dbo].[payment] ([payment_id], [country_code], [create_time], [description], [email], [postal_code], [status], [total_price], [transaction_fee], [book_id]) VALUES (N'PAYID-MJ6L6FQ3BD00960019832021', N'US', CAST(N'2022-05-12T08:02:29.000' AS DateTime), NULL, N'phuongloan322000@gmail.com', N'95131', N'VERIFIED', 8810, 307.95999145507812, 12)
INSERT [dbo].[payment] ([payment_id], [country_code], [create_time], [description], [email], [postal_code], [status], [total_price], [transaction_fee], [book_id]) VALUES (N'PAYID-MJ6LK3A05218884L9135935J', N'US', CAST(N'2022-05-12T07:21:15.000' AS DateTime), NULL, N'phuongloan322000@gmail.com', N'95131', N'VERIFIED', 9310, 325.41000366210938, 24)
GO
SET IDENTITY_INSERT [dbo].[place] ON 

SET IDENTITY_INSERT [dbo].[place] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([review_id], [content], [date_submit], [rate], [account_id], [place_id]) VALUES (1, N'lớn khá đẹp và chắc chắn để bạn có thể nằm ườn đọc sách, tắm nắng, ngắm bầu trời xuyên qua tán thông.', CAST(N'2022-01-01T00:00:01.000' AS DateTime), 4, 2, 1)
INSERT [dbo].[review] ([review_id], [content], [date_submit], [rate], [account_id], [place_id]) VALUES (4, N'Là căn nhà rộng rãi, tiện nghi nhất của Nhà Bên Rừng, Quả Thông Lớn có 01 phòng khách, 01 phòng ngủ riêng biệt, nhà tắm rộng có bồn tắm lớn', CAST(N'2022-02-01T00:11:11.000' AS DateTime), 5, 3, 2)
INSERT [dbo].[review] ([review_id], [content], [date_submit], [rate], [account_id], [place_id]) VALUES (6, N'Quả thông lớn nằm ngay trên triền đồi, rừng thông già phủ kín xung quanh mang đến không gian mát mẻ quanh năm cho Homestay. Căn nhà cũng sở hữu khoảng view phía', CAST(N'2020-03-03T00:00:00.000' AS DateTime), 5, 2, 1)
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[review_reaction] ON 

INSERT [dbo].[review_reaction] ([reaction_id], [date_submit], [details], [account_id], [review_id]) VALUES (10010, CAST(N'2022-05-04T03:05:37.000' AS DateTime), N'Cảm ơn bạn', 1, 1)
INSERT [dbo].[review_reaction] ([reaction_id], [date_submit], [details], [account_id], [review_id]) VALUES (10012, CAST(N'2022-05-09T03:05:25.000' AS DateTime), N'Cảm ơn bạn', 1, 12)
SET IDENTITY_INSERT [dbo].[review_reaction] OFF
GO
ALTER TABLE [dbo].[account_role]  WITH CHECK ADD  CONSTRAINT [FK1f8y4iy71kb1arff79s71j0dh] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_role] CHECK CONSTRAINT [FK1f8y4iy71kb1arff79s71j0dh]
GO
ALTER TABLE [dbo].[account_role]  WITH CHECK ADD  CONSTRAINT [FKi83lgergn08bqo963nu0e6dt6] FOREIGN KEY([role_id])
REFERENCES [dbo].[app_role] ([role_id])
GO
ALTER TABLE [dbo].[account_role] CHECK CONSTRAINT [FKi83lgergn08bqo963nu0e6dt6]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK2rvtagi1yam2hsyv2i27i0lrl] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK2rvtagi1yam2hsyv2i27i0lrl]
GO
ALTER TABLE [dbo].[book_room]  WITH CHECK ADD  CONSTRAINT [FK57v9imhfrbt3vkdsodhfw3s6y] FOREIGN KEY([place_id])
REFERENCES [dbo].[place] ([place_id])
GO
ALTER TABLE [dbo].[book_room] CHECK CONSTRAINT [FK57v9imhfrbt3vkdsodhfw3s6y]
GO
ALTER TABLE [dbo].[book_room]  WITH CHECK ADD  CONSTRAINT [FKcdmvcv77lp7to456ssbwj1cv9] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[book_room] CHECK CONSTRAINT [FKcdmvcv77lp7to456ssbwj1cv9]
GO
ALTER TABLE [dbo].[cancel_book]  WITH CHECK ADD  CONSTRAINT [FK8sgg2d8l58wjhd2ws94dtnbw8] FOREIGN KEY([book_id])
REFERENCES [dbo].[book_room] ([book_id])
GO
ALTER TABLE [dbo].[cancel_book] CHECK CONSTRAINT [FK8sgg2d8l58wjhd2ws94dtnbw8]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK9c8l45da3h0hylfbw3i118e3l] FOREIGN KEY([place_id])
REFERENCES [dbo].[place] ([place_id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK9c8l45da3h0hylfbw3i118e3l]
GO
ALTER TABLE [dbo].[litle_category]  WITH CHECK ADD  CONSTRAINT [FK129qo7buae0cqbdfcbv47txph] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[litle_category] CHECK CONSTRAINT [FK129qo7buae0cqbdfcbv47txph]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FKhndikigjhwp17x36ns1bgpv5l] FOREIGN KEY([book_id])
REFERENCES [dbo].[book_room] ([book_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FKhndikigjhwp17x36ns1bgpv5l]
GO
ALTER TABLE [dbo].[place]  WITH CHECK ADD  CONSTRAINT [FKaqald4gj9x99xo755c9syyfsp] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[place] CHECK CONSTRAINT [FKaqald4gj9x99xo755c9syyfsp]
GO
ALTER TABLE [dbo].[place]  WITH CHECK ADD  CONSTRAINT [FKgwxp1tfkncwp5quyvjd4tvrlo] FOREIGN KEY([detail_id])
REFERENCES [dbo].[detail_place] ([detail_id])
GO
ALTER TABLE [dbo].[place] CHECK CONSTRAINT [FKgwxp1tfkncwp5quyvjd4tvrlo]
GO
ALTER TABLE [dbo].[place]  WITH CHECK ADD  CONSTRAINT [FKm7imb4hd0gb5lqbmnnd7nv7fg] FOREIGN KEY([litle_category_id])
REFERENCES [dbo].[litle_category] ([litle_category_id])
GO
ALTER TABLE [dbo].[place] CHECK CONSTRAINT [FKm7imb4hd0gb5lqbmnnd7nv7fg]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FKbopwpfvcg5qsfrjtt9svofxg1] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FKbopwpfvcg5qsfrjtt9svofxg1]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FKn429agmmvh298piqrnnd4gbfg] FOREIGN KEY([place_id])
REFERENCES [dbo].[place] ([place_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FKn429agmmvh298piqrnnd4gbfg]
GO
ALTER TABLE [dbo].[review_reaction]  WITH CHECK ADD  CONSTRAINT [FKcj6w193lagh5wq2ss20k2tka5] FOREIGN KEY([review_id])
REFERENCES [dbo].[review] ([review_id])
GO
ALTER TABLE [dbo].[review_reaction] CHECK CONSTRAINT [FKcj6w193lagh5wq2ss20k2tka5]
GO
ALTER TABLE [dbo].[review_reaction]  WITH CHECK ADD  CONSTRAINT [FKmi68gu93cvk98luwjon5pj2kn] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[review_reaction] CHECK CONSTRAINT [FKmi68gu93cvk98luwjon5pj2kn]
GO
USE [master]
GO
